In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv('missing_values.csv')

In [5]:
df.head(5)

     user       video  playback position paused  volume
0  cheryl  intro.html                  5  False    10.0
1  cheryl  intro.html                  6    NaN     NaN
2  cheryl  intro.html                  9    NaN     NaN
3  cheryl  intro.html                 10    NaN     NaN
4     bob  intro.html                  1    NaN     NaN

In [6]:
pd.concat([df.head(5),df.tail(6)])

      user       video  playback position paused  volume
0   cheryl  intro.html                  5  False    10.0
1   cheryl  intro.html                  6    NaN     NaN
2   cheryl  intro.html                  9    NaN     NaN
3   cheryl  intro.html                 10    NaN     NaN
4      bob  intro.html                  1    NaN     NaN
27     bob  intro.html                  1    NaN     NaN
28     bob  intro.html                  1    NaN     NaN
29  cheryl  intro.html                 12    NaN     NaN
30  cheryl  intro.html                 13    NaN     NaN
31     bob  intro.html                  1    NaN     NaN
32     bob  intro.html                  1    NaN     NaN

In [22]:
# df.isnull()
# to check accoerding to index loc
df.iloc[5:11].isnull()

     user  video  playback position  paused  volume
5   False  False              False    True    True
6   False  False              False    True    True
7   False  False              False    True    True
8   False  False              False    True    True
9   False  False              False    True    True
10  False  False              False    True    True

In [14]:
df.notna()

    user  video  playback position  paused  volume
0   True   True               True    True    True
1   True   True               True   False   False
2   True   True               True   False   False
3   True   True               True   False   False
4   True   True               True   False   False
5   True   True               True   False   False
6   True   True               True   False   False
7   True   True               True   False   False
8   True   True               True   False   False
9   True   True               True   False   False
10  True   True               True   False   False
11  True   True               True   False   False
12  True   True               True   False   False
13  True   True               True    True    True
14  True   True               True   False   False
15  True   True               True   False   False
16  True   True               True   False    True
17  True   True               True   False   False
18  True   True               True   False   False
19  True   True               True   False   False
20  True   True               True   False   False
21  True   True               True   False   False
22  True   True               True   False   False
23  True   True               True   False   False
24  True   True               True    True    True
25  True   True               True   False   False
26  True   True               True   False   False
27  True   True               True   False   False
28  True   True               True   False   False
29  True   True               True   False   False
30  True   True               True   False   False
31  True   True               True   False   False
32  True   True               True   False   False

In [26]:
df.paused.isna()

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24    False
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
Name: paused, dtype: bool

In [47]:
# df[['paused','video']].iloc[3:9].isna()
# df.iloc[3:9][['paused','video','volume']].isna()
pd.concat([df['paused'].iloc[1:4].isna(), df['volume'].iloc[5:9].isna()])

1    True
2    True
3    True
5    True
6    True
7    True
8    True
dtype: bool

In [57]:
print("\n the five rows ")
print(f'df.head()=\n {df.head()}')

# df.head(5)

 the five rows
df.head()=      user       video  playback position paused  volume
0  cheryl  intro.html                  5  False    10.0
1  cheryl  intro.html                  6    NaN     NaN
2  cheryl  intro.html                  9    NaN     NaN
3  cheryl  intro.html                 10    NaN     NaN
4     bob  intro.html                  1    NaN     NaN

In [65]:
df.isna().sum(axis=1).tail()

28    2
29    2
30    2
31    2
32    2
dtype: int64

In [69]:
df.notna().sum()

user                 33
video                33
playback position    33
paused                3
volume                4
dtype: int64

In [70]:
df.count()

user                 33
video                33
playback position    33
paused                3
volume                4
dtype: int64

In [72]:
df.count(axis=1).head()

0    5
1    3
2    3
3    3
4    3
dtype: int64

In [73]:
df.dropna()

      user          video  playback position paused  volume
0   cheryl     intro.html                  5  False    10.0
13     sue  advanced.html                 23  False    10.0
24     bob     intro.html                  1   True    10.0

In [92]:
df.dropna(axis='columns',how='all', inplace=True)
df.head()

     user       video  playback position paused  volume
0  cheryl  intro.html                  5  False    10.0
1  cheryl  intro.html                  6     -1    -1.0
2  cheryl  intro.html                  9     -1    -1.0
3  cheryl  intro.html                 10     -1    -1.0
4     bob  intro.html                  1     -1    -1.0

In [95]:
df.shape

(33, 5)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user               33 non-null     object
 1   video              33 non-null     object
 2   playback position  33 non-null     int64
 3   paused             33 non-null     object
 4   volume             33 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [97]:
df.describe()

       playback position     volume
count          33.000000  33.000000
mean           13.000000   0.181818
std            11.696688   3.320905
min             1.000000  -1.000000
25%             1.000000  -1.000000
50%            10.000000  -1.000000
75%            25.000000  -1.000000
max            33.000000  10.000000

In [99]:
df.dropna(axis='index',thresh=5,inplace=True)
df.head()

     user       video  playback position paused  volume
0  cheryl  intro.html                  5  False    10.0
1  cheryl  intro.html                  6     -1    -1.0
2  cheryl  intro.html                  9     -1    -1.0
3  cheryl  intro.html                 10     -1    -1.0
4     bob  intro.html                  1     -1    -1.0