# Missing Values and Olympic Dataset

In [ ]:
import pandas as pd
import numpy as np

### Missing Values

In [ ]:
#Open missing_values.csv in text file 
# and in excel to see how it looks like
df = pd.read_csv('missing_values.csv')
#print(df)
print("df.head(5).append(df.tail(6))") # how to append head and tail or concatenate
print(df.head(5).append(df.tail(6)))

#### Which elements are NaN in the DataFrame ( Display True and False)

In [ ]:
#display the first five rows on records which contains null
df = pd.read_csv('missing_values.csv')
print(f'\nUsing df.isna()\n {df.isna().head()}') # using isna
#Alternatively
print(f'\nUsing df.isnull()\n {df.isnull().head()}') #using isnull

#### Which elements are NOT NaN in the DataFrame ( Display True and False)

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'\nUsing df.notna()\n {df.notna().head()}')
#alternatively
print(f'\nUsing df.notnull()\n {df.notnull().head()}') # using notnull()

#### Display records in which elements are NaN in column 'paused' and how many are they?

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df.head()\n {df.head()}')
print(f"\nRecords in which column 'paused' is NaN'")
#Alternatives
#print(df[df.paused.isna()])
#print(df[df.paused.isnull()])
#print(df[df['paused'].isna()])
print(df[df['paused'].isnull()])
#How many are they
df3=df[df['paused'].isnull()]
 #use any column for counting
print(f'\nThere are {df3.user.size} records which meets criteria')
#alternatively
#print(f'\nThere are {df3.shape[0]} records which meets criteria')

#### SELF STUDY - Number of NaN in each column - use sum() function

In [ ]:
df = pd.read_csv('missing_values.csv')
#print("df.head()=\n",df)
print("\nNumber of null in each column")
print(df.isna().sum())  # defaults to column 0
print("\nalternatively using axis=0 or axis='index'")
print(df.isna().sum(axis=0))
#alternatively
#print(df.isna().sum(axis='index'))

####  SELF STUDY - Number of NOT NaN in each column - use sum()) function

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df.head()=\n {df.head()}')
print('\nNumber of NOT null in each column')
print(df.notna().sum())
#alternatively
#print(df.notna().sum(axis=0))
#alternatively
#print(df.notna().sum(axis='index'))

####  SELF STUDY - Number of NaN in each row (display 5 rows)

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df.head()=\n {df.head()}')
print("\nNumber of null in each row (first FIVE rows)")
print(df.isna().sum(axis=1).head())
#alternatively
#print(df.isna().sum(axis='columns').head())

####  SELF STUDY - Number of NOT NaN in each row (display 5 rows)

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df.head()=\n {df.head()}')
print("\nNumber of NOT null in each row (first FIVE rows)")
print(df.notna().sum(axis=1).head())
#alternatively
#print(df.notna().sum(axis='columns').head())

####  SELF STUDY - Total number of NaN in the whole dataframe

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'\nNumber of NaN elements in a Dataframe is: {df.isna().sum().sum()}')
#Qtn: Why do we need double sum().sum()?
print("\nNumber of NaN elements in each column:\n ",df.isna().sum())

###  SELF STUDY - Using count() to count not NaN in rows or Columns

#### Number of Non NaN in Columns using count

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'Number of not NaN in each column is:\n {df.count()}') # efault is axis=0
#Alternatively
#print(f'Number of not NaN in each column is:\n {df.count(axis=0)}')
#alternatively
#print(f"Number of not NaN in each column is:\n {df.count(axis='index')}")

In [ ]:
#describe function does not include NaN Values. 
#Check the value of count() in both columns
print(f"\n Results of describe function\n {df.describe(include='all')}")

#### Number of Non NaN in Rows using count (Display first five rows)

In [ ]:
df = pd.read_csv('missing_values.csv')
print(df.head())
print(f'Number of not NaN in each row is:\n {df.count(axis=1).head()}')
#alternatively
#print(f"Number of not NaN in each row is:\n {df.count(axis='columns').head()}")

##  SELF STUDY - Deleting rows or columns with missing data
## (Cleaning Dataset)

#### drop any row whose ANY element is equal to NaN

In [ ]:
df = pd.read_csv('missing_values.csv')
print(df.head(10))
print("\nDrop the rows where at least one element is missing")
df.dropna(inplace=True) # using default parameters
#alternatively
print("Can use: df.dropna(axis=0,how='any', inplace=True)\n")
#df.dropna(axis=0,how='any', inplace=True)
#alternatively
#df.dropna(axis='index',how='any', inplace=True)
print(df)

#### drop any column whose ANY element is equal to NaN

In [ ]:
df = pd.read_csv('missing_values.csv')
print(df.head())
print("\nDrop the columns where at least one element is missing")
print("df.dropna(axis='columns',how='any', inplace=True")
df.dropna(axis='columns',how='any', inplace=True)
#alternatively
#df.dropna(axis=1,how='any', inplace=True)
print(f'\ndf.head() =\n {df.head()}')
print()
print("RESULTS: 'paused' and 'volume' columns are deleted")

###### drop all columns whose ALL elements are equal to NaN - VERY USEFULL

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df.head(2)=\n {df.head(2)}')
print("dropna(axis='columns',how='all', inplace=True")
number_columns1=df.shape[1] #before deletion
df.dropna(axis='columns',how='all', inplace=True)

#alternatively
#df.dropna(axis=1,how='all', inplace=True) # axis=1
number_columns2=df.shape[1] #after deletion
diff=number_columns1-number_columns2 # difference
if diff==0:
    print('\nNo any column is deleted')
else:
    print(f'\nNo. of columns deleted are: {diff}')

###### drop all rows whose ALL elements are equal to NaN - VERY USEFUL

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'shape of df is: {df.shape}')
number_rows1=df.shape[0]
print(f'df.head()=\n {df.head()}')
df.dropna(axis='index',how='all', inplace=True) #axis=0
#alternatively
#df.dropna(axis=0,how='all', inplace=True)
print(f'\ndf.head() after drop is =\n {df.head()}')
print(f'Shape after deletion is: {df.shape}')
number_rows2=df.shape[0]
diff=number_rows2-number_rows1
if diff==0:
    print(' No any row deleted')
else:
    print(f'No. of rows deleted are: {diff}')

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df=\n {df.head(7)}')
#Modify row 3 column 'paused from NaN to non-NaN
df.loc[2,'paused']=True
#Modify row 4 column 'paused from NaN to non-NaN
#df.loc[4,'paused']=False
df.loc[4,'paused']=True

print(f'\ndf(head(7)=\n {df.head(7)}')

print(f'Number of not NaN in each column is:\n {df.count()}')
print(f'\ndf.head(2) before drop =\n {df.head(2)}')
print('\n Keep columns with at least 5 non-missing values')
df.dropna(axis='columns',thresh=5,inplace=True)
print(f'\ndf.head(2) after drop =\n {df.head(2)}') #'volume' is deleted
print('\nRESULTS: volume column is deleted')

In [ ]:
df = pd.read_csv('missing_values.csv')
print('BEFORE DROPPING')
print('\nNumber of NOT null in each row (first FIVE rows)')
print(df.notna().sum(axis=1).head(15))
print('\n Keep rows with at least 5 non-missing values')
print(f"df.dropna(axis='index',thresh=5,inplace=True")
df.dropna(axis='index',thresh=5,inplace=True)
print('\nNumber of NOT null in each row AFTER DROPPING')
print(df.notna().sum(axis=1).head())
print(f'\ndf.head() =\n {df.head()}')

#### Replace all NaN in a dataframe with a Scalar Value using fillna

In [ ]:
df = pd.read_csv('missing_values.csv')
print(f'df.head(3)=\n {df.head(3)}')
print(f"\nNaN replaced with '-1':")
df.fillna(-1,inplace=True) #replace NAN with -1
print(f'df.fillna(-1,inplace=True)\n {df.head(3)}')

#### Replace NaN on specified columns with specified values

In [ ]:
#Replace NaN on a specified columns with specified values
df = pd.read_csv('missing_values.csv')
print(f'df.head(3)=\n {df.head(3)}')
values={'paused':-888,'volume':-999}
df.fillna(values,inplace=True)
print("\ndf after filling NaN in columns 'paused' and 'volume'")
print(f'\ndf.head(3)=\n {df.head(3)}')

In [ ]:
#Replace Missing (or) Generic Values
df = pd.DataFrame({'one':[10,20,30,40,50,-2],
                    'two':[0,-5,38,46,57,60]})
print(f'df=\n {df}')
df2=df.copy()
print(f'df2 before replacement=\n {df2}')
print('df2.replace([-2, -5],0,inplace=True')
df2.replace([-2, -5],0,inplace=True) # for all columns
print(f'df2 after replacement=\n {df2}')

df3=df.copy()
print(f'df3 before replacement=\n {df3}')
print('df3.replace({-2:9999,-5:1111},inplace=True')
df3.replace({-2:9999,-5:1111},inplace=True) # for all columns using dict style
print(f'df3 after replacement=\n {df3}')

df4=df.copy()
print(f'df4 before replacement=\n {df4}')
print('\n target each column seperately')
print("df4.replace({'one': {-2: np.nan, -5: np.nan},\
      'two': {-2: np.nan, -5: np.nan}},inplace=True")
df4.replace({'one': {-2: np.nan, -5: np.nan},           #specific columns
             'two': {-2: np.nan, -5: np.nan}},inplace=True)
print(f'\ndf4 after replacement=\n {df4}')

In [ ]:
data={'Names': ['Bob','Jessica','Mary','John','Mel'],
      'Score': [76,-2,77,78,101]}
df = pd.DataFrame(data)
print(f'df before limiting=\n {df}')

print('\nFind the indices for outliers')
print(f"df.loc[df['Score'] <= 0,'Score']: {df.loc[df['Score'] <= 0,'Score']}")
print(f"df.loc[df['Score'] >= 100,'Score'] {df.loc[df['Score'] >= 100,'Score']}") 

print("\nLimit the minimum to be 0 and maximum to be 100")
print("df.loc[df['Grades'] <= 0,'Grades'] = 0")
print("df.loc[df['Grades'] >= 100,'Grades'] = 100")
df.loc[df['Score'] <= 0,'Score'] = 0
df.loc[df['Score'] >= 100,'Score'] = 100
print(f'\ndf after limits=\n {df}')

In [ ]:
s=pd.Series(['Tanzania','Kenya','Uganda','Rwanda','Burundi','South Sudan'])
print(f's=\n {s}')
print(f'\ns.str.lower():\n {s.str.lower()}')
print(f'\ns.str.upper():\n {s.str.upper()}')
s2=s.str.lower() # s2 in lower cases
s3=s.str.upper() # s3 in upper cases
print(f's2=s.str.lower():\n {s2}')
print(f's3=s.str.upper():\n {s3}')
print('\n Countries which starts with B:\n')
print(f"s[s.str.startswith('B')]\n {s[s.str.startswith('B')]}")
print("\n Countries which ends with letter 'a':\n")
print(f"s[s.str.endswith('a')]\n {s[s.str.endswith('a')]}")
print("\n Countries which contains 'an':\n")
print(f"s[s.str.contains('an')]\n {s[s.str.contains('an')]}")
s2=s.str.replace('Burundi', 'Zimbabwe')
print(f"\ns2=s.str.replace('Burundi', 'Zimbabwe')=\n {s2}")

In [ ]:
data={'Names': ['Bob','Jessica','Mary','John','Mel'],
      'Score': [76,-2,77,78,101]}
df = pd.DataFrame(data)
print(f'df before changing=\n {df}')
df['Names']=df['Names'].str.lower()
print(f'\ndf after changing Names to lower=\n {df}')
df['Names']=df['Names'].str.upper()
print(f'\ndf after changing names to upper\n {df}')
df['Names']=df['Names'].str.capitalize()
print(f'df after changing names to capitalize\n {df}')

df = pd.DataFrame(data) # to reset df
print('\nNames which starts with letter J are:')
print(df[df.Names.str.startswith('J')])
print('\nHow many names in Names column starts with letter J?')
print("df.Names.str.startswith('J').sum()}")
print(f"Number of records for which Names start with J are {df.Names.str.startswith('J').sum()}")

In [ ]:
df = pd.DataFrame({'Animal':    ['Falcon', 'Falcon','Parrot', 'Parrot'],
                   'Max_Speed': [380., 370., 24., 26.]})
print(f'df=\n {df}')
print('\ngroupby with sum()')
print(df.groupby('Animal').sum())
print('\ngroupby with mean()')
print(df.groupby('Animal').mean())
print('\ngroupby with count()')
print(df.groupby('Animal').count())
print('\ngroupby with size()')
print(df.groupby('Animal').size())

In [ ]:
df = pd.DataFrame({'A': [1, 1, 2, 2],
                   'B': [1, 2, 3, 4],
                   'C': np.random.randn(4)})
print(f'df=\n {df}')
print('\nThe aggregation is for each column')
print(f"df.groupby('A').agg('min')\n {df.groupby('A').agg('min')}")

print('\nMultiple aggregations')
print("df.groupby('A').agg(['min', 'max']")
print(df.groupby('A').agg(['min', 'max']))

print('\nSelect a column for aggregation')
print("df.groupby('A').B.agg(['min', 'max']")
print(df.groupby('A').B.agg(['min', 'max']))

print('\nDifferent aggregations per column')
print("df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})")
df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

# Olympics dataset analysis

In [ ]:
#open dataset, skiprows=4 
#open olympics.csv in Excel and see why 4 rows are skipped
df = pd.read_csv('olympics.csv',skiprows=4)
#print(df.head())
#NOC stands for National Olympic Committee
df.head() # note the difference of using print and not using print. 
          # Must be the last statement in a cell for such display

#### How many rows and how many columns in the dataframe?

In [ ]:
print(f'Number of rows and columns : {df.shape}')
print(f'Number of rows : {df.shape[0]}')
print(f'Number of columns : {df.shape[1]}')
print('alternatively for getting number of rows, pick any column and use size')
print(f'Number of rows : {df.City.size}')

#### Get info about dataframe

In [ ]:
#number of rows and columns, name of columns, index,columns names and their data types
print(df.info())

#### How many null values in each column?

In [ ]:
print(f'Number of NAN values in each column: \n {df.isna().sum()}')

#### List the first 5 records for columns:Edition, City, Athlete and Medal

In [ ]:
print('The first 5 records for columns Edition, City, Athlete and Medal are:\n ')
print(df[['Edition','City','Athlete','Medal']].head())  #can use ...head(5)

In [ ]:
#alternatively make a copy to protect original df
print('The first 5 records for columns Edition, City, Athlete and Medal are:\n ')
df2=df[['Edition','City','Athlete','Medal']].copy() # to protect df
print(df2.head())

#### Count number of medals which were presented excluding NaN in descending order by default - utlize value_counts()

In [ ]:
print("Number of medals which were presented are:")
print(df.Medal.value_counts(dropna=True))           # in descending order

#### How many medals were presented to men and how many to women

In [ ]:
print("No. medals presented to men and to women in ascending order of values")
print(df.Gender.value_counts(ascending=True,dropna=True))

In [ ]:
print("No. medals presented to men and to women in descending order of values")
print(df.Gender.value_counts(ascending=False,dropna=True))

#### Display athlete column in ascending order - use sort_values

In [ ]:
print('Athlete column in ascending order')
print(df.Athlete.sort_values())

#### Display athlete column in descending order - use sort_values

In [ ]:
print("Athlete column in descending order")
print(df.Athlete.sort_values(ascending=False))

#### display all columns in sorted order of edition and then athlete. In each column can specify ascending or descending

In [ ]:
#sort in more than one column and show all records
#Note: How to scpecify ascending or descending if 
# using more than one column

print(df.sort_values(by=['Edition','Athlete'],ascending=[True,False]))

#### sort in more than one column and show all records for specified columns (Edition and Athlete)

In [ ]:
print(df.sort_values(by=['Edition','Athlete'],ascending=[True,False])[['Edition','Athlete']])

In [ ]:
#alternatively creat a temporary dataframe.
df2=df.sort_values(by=['Edition','Athlete'],ascending=[True,False]) #all columns
print(df2[['Edition','Athlete']]) # specific columns

#### sort in more than one column and show Edition and Athlete only DISPLAY SCPEFIC COLUMNS: 'Edition' and 'Athlete'. Note: Another way of thining DataFrame. Select columns first and deal with sorting on selected columns

In [ ]:
print(df[['Edition','Athlete']].sort_values(by=['Edition','Athlete'],ascending=[True,False]))

#### Alternatively - create a temporary dataframe

In [ ]:
df2=df[['Edition','Athlete']].copy()
print(df2.sort_values(by=['Edition','Athlete'],ascending=[True,False]))

### Display Gender and Medal columns for women who got a Gold medal -> using Boolean Indexing.

In [ ]:
df2=df[(df.Gender=='Women') & (df.Medal=='Gold')]
print(f"df2=\n {df2[['Gender','Medal']]}")
      
#Can be combined in one statement
df5=df[(df.Gender=='Women') & (df.Medal=='Gold')][['Gender','Medal']]
print(f'df5=\n {df5}')

#### Display how many women got Gold in the whole period. Compare with rows obtained in cell above

In [ ]:
df3=df[(df.Gender=='Women') & (df.Medal=='Gold')]
print(f'Number of Women who got the Gold Medal is: {df3.Gender.count()}')

#### Display Edition, Athlete, and Medal columns where the Athlete name contains the word 'Johannes'. Sort by Edition. Also display how many records meets that condition ->String Handling

In [ ]:
df2=df[df.Athlete.str.contains('Johannes')][['Edition','Athlete','Medal']].sort_values(by='Edition')
print(df2)
print(f'\nNumber of Athletes which contains the word Johannes is {df2.Edition.count()}')
print('\nAlternatively')
print(f'Number of Athletes which contains the word Johannes is {df2.shape[0]}')
print('\nAlternatively')
print(f'Number of Athletes which contains the word Johannes is {df2.Edition.size}')

#### Display athlete column for records whose Athlete name start with 'AALTONEN'

In [ ]:
print("Athlete column for records whose Athlete name start with 'AALTONEN")
df2=df[df.Athlete.str.startswith('AALTONEN')]['Athlete'] #dict style
print(df2)
print('\nalternatively')
print("Athlete column for records whose Athlete name start with 'AALTONEN")
df3=df[df.Athlete.str.startswith('AALTONEN')].Athlete # attribute style
print(df3)

#### Aggregate using dictionay type

## Practice Questions and SAMPLE solutions using olympics.csv
#### *Note: In Pandas, there are many ways of doing the same thing!*

#### Question 1
In which events did Jesse Owens win a medal. Display the event name 
and how many times did he participate in that event. TIP: Check how First Name and Last name are recorded in the file/dataframe

In [ ]:
#Question 01 solution
print(df[df.Athlete=='OWENS, Jesse'].Event.value_counts())

In [ ]:
#Extra: Prove your above answer
print(df[df.Athlete=='OWENS, Jesse']['Athlete'])
print()
print(df[df.Athlete=='OWENS, Jesse'].Event.value_counts())

#### Question 2
Which athletes has won men's gold medals in singles 
badminton over the years.  
Sort the results alphabetically by the athlete's names.  
Display ONLY fields: Edition, Medal, Gender and Sport

In [ ]:
#Question 2 solution
df2 = df[(df.Medal == 'Gold') & (df.Gender == 'Men') & (df.Sport == 'Badminton')]
print(df2[['Athlete','Medal','Gender','Sport']].sort_values(by='Athlete'))

#### Question 3
Which three countries have won the most medals in recent years (from 1984 to 2008)?
TIP: value_counts display in descending order. Take the top 3

In [ ]:
#Question 3 solution
print(df[df.Edition>=1984].NOC.value_counts().head(3))

#### Question 4
Display the male gold medal winners for the 100m track and 
field sprint (i.e. 100m) event over the years. List the results starting
with the most recent years. Display fields: Gender, City,Edition,Athlete and NOC in that order

In [ ]:
# Question4 solution

df2 = df[(df.Gender == 'Men') & (df.Medal == 'Gold') & (df.Event == '100m')]
df2=df2.sort_values('Edition',ascending=False)[['Gender','City','Edition','Athlete','NOC']]
print(df2.head())

#### Groupby - Group by Edition column and display groups sizes (How many rows for each group)

In [ ]:
print(df.groupby('Edition').size())

#### Groupby using more than one key

In [ ]:
df = pd.read_csv('olympics.csv',skiprows=4)
print(df.groupby(['Edition','NOC','Medal']).size())

In [ ]:
print("df2.groupby(['Team','Year']).Points.agg(['min','max'])")
print(df2.groupby(['Team','Year']).Points.agg(['min','max']))

In [ ]:
print("df2.groupby(['Team','Year']).agg({'Year':['min','max'], 'Points':['min','max']})\n")
print(df2.groupby(['Team','Year']).agg({'Year':['min','max'], 'Points':['min','max']}))